<h1>Bustle Only Better</h1>

<hr>

<div class="row">

  <div class="col-md-6">

    {{#each}}

    <h2>{{#link-to 'post' this.id}}{{title}}{{/link-to}}</h2>
    {{#link-to 'post' this.id}}<img {{bind-attr src="image"}}>{{/link-to}}
    {{/each}}

  </div>


  <div>
    {{outlet}}
  </div>

</div>
