<h1>Bustle Only Better</h1>

<hr>

<div class="row">

  <div class="col-md-6">
    <h2>{{#link-to 'cary'}}Cary Elwes becomes a real prince!{{/link-to}}</h2>
    {{#link-to 'cary'}}<img src="img/cary.gif" alt="hot guy">{{/link-to}}
  </div>

  <div class="col-md-6">
  <h2>{{#link-to 'deadjustin'}}Justin Bieber dies on his 21st Birthday!{{/link-to}}</h2>
  {{#link-to 'deadjustin'}}<img src="img/bieber.gif" alt="cannibal Justin">{{/link-to}}
</div>

  <div class="col-md-6">
    <h2>{{#link-to 'bateman'}}Bret Easton Ellis killed by Patrick Bateman! Gory details inside!{{/link-to}}</h2>
    {{#link-to 'bateman'}}<img src="img/patrick.gif" alt="psychotic narcissistic sociopath">{{/link-to}}
  </div>

  <div class="col-md-6">
    <h2>{{#link-to 'cat'}}Michelle Pfeiffer turns into a real cat! Eats corpse of Bret Eason Ellis!{{/link-to}}</h2>
    {{#link-to 'cat'}}<img src="img/michelle.gif" alt="Michelle Pfeiffer ate Bret">{{/link-to}}
  </div>

  <div>
    {{outlet}}
  </div>

</div>
